{{#if (if_neq query.interest 'sent')}}
{{else}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let the Hagglin' begin!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your message has been sent.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(window).on('load', function () {
    $('#exampleModal').modal('show');
  });
</script>
{{/if}}


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="/uploads/barter.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: #708090;">
        <h5>Welcome to Haggle!</h5>
        <p>Scroll through to see current listings!</p>
      </div>
    </div>

    {{#each listings as |listing| }}
    <div class="carousel-item">
      <img src="{{listing.image_path}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="background-color: #708090;">
        <h5>{{listing.title}}</h5>
        <p>{{listing.description}}</p>
      </div>
    </div>
    {{/each}}

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>