<!-- Loop over each object in the projects array -->
{{#each listings as |listing| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{listing.title}}
    </h2>
    <p>Seller: {{user.name}}</p>
    <p>Category: {{category.name}}</p>
    <p>Status: {{status.type}}</p>

  </div>
</div>
{{/each}}