<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      {{title}}
    </h2>
    <p>Seller: {{user.name}}</p>
    <p>Category: {{category.name}}</p>
    <p>Status: {{status.type}}</p>

    <p>"PLACEHOLDER FOR HAGGLE BUTTON"</p>
  </div>
</div>