* {
  font-family: 'Karantina', cursive;
}
.nav-div {
  color: black;
  font-size: 2rem !important;
}
.nav-btn {
  color: white;
  font-size: 3rem !important;
}

header {
  background: #708090;
  padding: 100px !important;
  border-bottom: 3px solid black;
}

body {
  background-image: url('/img/woodbackground.png');
  background-size: 100% 100%;
}

.container {
  padding: 20px;
  background: #f5f5f5;
  border: 1px solid #2f5881;
}

.btn.btn-primary {
  border-color: aliceblue;
  background-color: #d2691e;
  font-size: 24px;
}

#delete-btn {
  font-size: 24px;
  margin-top: 5px;
}
.welcome,
h1 {
  float: left;
  right: 30px;
}

#current-listing {
  position: relative;
  bottom: 5px;
  left: 131%;
}

#single-listing {
  float: left !important;
  font-size: 24px !important;
  margin-top: 5px;
}

.carousel-custom {
  max-width: 800px;
}

.carousel-caption-custom {
  background: rgba(0, 0, 0, 0.5);
}

.my-listing-photo {
  max-height: 180px;
  max-width: 180px;
}
